@import '../../components/ComponentsScss/Variables';
@import '../../components/ComponentsScss/mixins';

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.header__body {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    gap: 20px;
    padding: 34px 0;
    li {
        position: relative;
    }
}

.header__logo {
    flex: 0 1 90px;
    img {
        max-width: 100%;
    }
}

.header__menu {
    margin-right: 40px;
    margin-left: auto;
}

.header__list {
    display: flex;
    gap: 30px;
}

.header__search {
    max-width: 183px;
    border-radius: 25px;
    background-color: $lightGrey;
    color: $greyText;
    font-size: 17px;
    appearance: none;
    padding: 10px 15px;
}

.header__item {
    padding: 10px 20px;
}

.header__link {
    font-size: 17px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $greyText;
    font-weight: 700;
    white-space: nowrap;
}

.header__link,
.sublist-header__link {
    color: $greyText;
    text-transform: uppercase;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
    &:hover {
        background-size: 100% 2px;
    }
}

.header__link.active {
    .arrow {
        border-top: 10px solid $orange;
    }
}

.arrow {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 15px;
    border-top: 10px solid $greyText;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.arrow.active {
    transform: rotate(180deg);
}

.header__item_submenu {
    position: relative;
    margin-right: 20px;
}

.header__sublist {
    display: none;
    position: absolute;
    left: 68%;
    top: 40px;
    min-width: 150px;
    background-color: $white;
    text-align: center;
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 15px;
    box-shadow: $shadow;
}

.header__sublist.active {
    display: block;
}

.sublist-header__item {
    padding: 5px;
    &:hover {
        .sublist-header__link {
            font-weight: 600;
            background-size: 100% 2px;
        }
    }
}

.sublist-header__link {
    display: inline-block;
    font-size: 13px;
}

.header__form {
    position: relative;
}

.search-header__btn {
    position: absolute;
    top: 8px;
    right: 15px;
    background: transparent;
    border: none;
    svg {
        width: 22px;
        height: 22px;
    }
}

@include md-min {
    .header__item_submenu {
        &:hover {
            .header__sublist {
                display: block;
            }
        }
    }
}

@include lg-md {
    .header__menu {
        margin-right: 20px;
    }
    .header__list {
        gap: 20px;
    }
    .header__search {
        max-width: 160px;
    }
}

@include lg {
    .header__body {
        padding: 24px 0;
        gap: 10px;
    }
    .header__search {
        font-size: 15px;
    }
    .search-header__btn {
        svg {
            width: 20px;
            height: 20px;
        }
    }
}

@include md {
    .header__item_submenu {
        padding: 10px 30px 10px 20px;
    }
    .header__sublist {
        left: 90%;
    }
    .header__sublist.active {
        display: block;
    }
}

@include sm {
    .header__sublist {
        left: 80%;
    }
}
